.navbar {
    background-color: rgb(0, 0, 0);
    z-index: 999;
}


a {
    color: white;
}

.card {
    margin: 0 auto;

}

.carousel-item {
    height: 750px;
}

.historia {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.774);
    width: 80vw;
    height: 650px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #000000;
    margin-left: 150px;
    margin-bottom: 70px;

}

.logoinicio {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: white;
    margin-right: 15px;

}

.palavras {
    color: white;
}

.titulop {
    color: white;
}

hr {
    border-color: white;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
}

.historia img {
    width: 180px;
    height: 111px;
    margin-right: 15px;
    margin-bottom: 60px;


}